
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Create New User</h1>
  <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  
</div>
<div class="card mb-4" >
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Sign Up</h6>
</div>
  <div class="card-body">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" href="#" class="btn btn-success btn-icon-split btn-sm">
      <span class="icon text-white-50">
          <i class="fas fa-check"></i>
      </span>
      <span class="text">Submit</span>
  </button>
  </form>
</div>
</div>